<div class="padding__main col-md-1 hidden-sm-down"></div>
<nav class="sidebar__index col-md-3 hidden-sm-down">
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Інформаційні та правові сервіси</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/ligazakon-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Платформа
                                 LIGA: ZAKON</a></li>
            <li class="sidebar__law-item"><a href="products/interbuh-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Інтерактивна
                бухгалтерія</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Сервіси відстеження</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/contragent-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Система перевірки
                партнерів ContrAGENT</a></li>
            <li class="sidebar__law-item"><a href="products/sms-mayak-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Захист
                нерухомості SMS-Маяк</a></li>
            <li class="sidebar__law-item"><a href="products/verdictum-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Система аналізу
                судових рішень Verdictum</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Електронна звітність</a>

        <ul class="nav__sidebar-law">

            <li class="sidebar__law-item"><a href="products/report-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Веб-сервіс
                "Report"</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Електронний документообіг</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/vchasno-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Сервіс
                "Вчасно"</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">IP-телефонія</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/oblachnaya-ats-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Віртуальна АТС
                FirstOffice</a></li>
        </ul>
    </div>

    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Складання договорів</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/smartdoc-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Сервіс
                SmartDoc</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Бухгалтерський облік</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/1c-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">
                &#8226; 1С в хмарі FirstOffice</a></li>

        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Офіс в хмарі </a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/office365-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Microsoft Office
                365</a>
            </li>
            <li class="sidebar__law-item"><a href="products/udalenniy-ofis-ukr.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Віддалений офіс
                FirstOffice</a></li>

        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a href="oblachniy-buhgalter-ukr.html" class="nav__sidebar-title hvr-float-shadow">ХМАРНИЙ БУХГАЛТЕР</a>

    </div>
    <div class="sidebar__nav-block">
        <a href="oblachniy-yurist-ukr.html" class="nav__sidebar-title hvr-float-shadow">ХМАРНИЙ ЮРИСТ</a>

    </div>
</nav>
