<nav class="sidebar__index col-md-4 hidden-sm-down">
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Информационные
            системы</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">Платформа
                LIGA:ZAKON</a></li>
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">Интерактивная
                бухгалтерия</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Безопасность</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">Contr
                AGENT</a></li>
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">YouСontrol</a>
            </li>
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">SMS-Маяк</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Электронная
            отчётность</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">Веб-сервис
                "СОТА"</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>EDI (электронный
            документооборот)</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">"ПТАХ"</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Телекоммуникации</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">Виртуальная
                АТС "Евро-тел"</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Составление
            договоров</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">SmartDoc</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Офис в облаке</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">1С в
                облаке</a></li>
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">Удалённый
                рабочий стол</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Государственные
            сервисы</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">Список
                государственных сервисов</a></li>
        </ul>
    </div>
</nav>