-1
<div class="padding__main col-md-1 hidden-sm-down"></div>
<nav class="sidebar__index-1 col-md-3 hidden-sm-down">
    <div class="sidebar__nav-block-1 active-1">
        <a class="nav__sidebar-title-1">Інформаційні та правові сервіси</a>
        <ul class="nav__sidebar-law-1">
            <li class="sidebar__law-item-1"><a href="products/ligazakon-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Платформа
                                 LIGA: ZAKON</a></li>
            <li class="sidebar__law-item-1"><a href="products/interbuh-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Інтерактивна
                бухгалтерія</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block-1 active-1">
        <a class="nav__sidebar-title-1">Сервіси відстеження</a>
        <ul class="nav__sidebar-law-1">
            <li class="sidebar__law-item-1"><a href="products/contragent-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Система
                перевірки
                партнерів ContrAGENT</a></li>
            <li class="sidebar__law-item-1"><a href="products/sms-mayak-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Захист
                нерухомості SMS-Маяк</a></li>
            <li class="sidebar__law-item-1"><a href="products/verdictum-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Система
                аналізу
                судових рішень Verdictum</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block-1 active-1">
        <a class="nav__sidebar-title-1">Електронна звітність</a>

        <ul class="nav__sidebar-law-1">

            <li class="sidebar__law-item-1"><a href="products/report-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Веб-сервіс
                "Report"</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block-1 active-1">
        <a class="nav__sidebar-title-1">Електронний документообіг</a>
        <ul class="nav__sidebar-law-1">
            <li class="sidebar__law-item-1"><a href="products/vchasno-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Сервіс
                "Вчасно"</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block-1 active-1">
        <a class="nav__sidebar-title-1">IP-телефонія</a>
        <ul class="nav__sidebar-law-1">
            <li class="sidebar__law-item-1"><a href="products/oblachnaya-ats-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Віртуальна
                АТС
                Phonet</a></li>
        </ul>
    </div>

    <div class="sidebar__nav-block-1 active-1">
        <a class="nav__sidebar-title-1">Складання договорів</a>
        <ul class="nav__sidebar-law-1">
            <li class="sidebar__law-item-1"><a href="products/smartdoc-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Сервіс
                SmartDoc</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block-1 active-1">
        <a class="nav__sidebar-title-1">Бухгалтерський облік</a>
        <ul class="nav__sidebar-law-1">
            <li class="sidebar__law-item-1"><a href="products/1c-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">
                &#8226; 1С в хмарі FirstOffice</a></li>

        </ul>
    </div>
    <div class="sidebar__nav-block-1 active-1">
        <a class="nav__sidebar-title-1">Офіс в хмарі </a>
        <ul class="nav__sidebar-law-1">
            <li class="sidebar__law-item-1"><a href="products/office365-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Microsoft
                Office
                365</a>
            </li>
            <li class="sidebar__law-item-1"><a href="products/udalenniy-ofis-ukr.html"
                                               class="nav__sidebar-link-1 hvr-underline-from-left">&#8226; Віддалений
                офіс
                FirstOffice</a></li>

        </ul>
    </div>
    <div class="sidebar__nav-block-1">
        <a href="oblachniy-buhgalter-ukr.html" class="nav__sidebar-title-1 hvr-float-shadow">ХМАРНИЙ БУХГАЛТЕР</a>

    </div>
    <div class="sidebar__nav-block-1">
        <a href="oblachniy-yurist-ukr.html" class="nav__sidebar-title-1 hvr-float-shadow">ХМАРНИЙ ЮРИСТ</a>

    </div>
</nav>
