<nav class="sidebar__index col-md-4 hidden-sm-down">
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Информационные
            системы</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/ligazakon.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Платформа
                LIGA:ZAKON</a></li>
            <li class="sidebar__law-item"><a href="products/interbuh.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Интерактивная
                бухгалтерия</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Безопасность</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/contragent.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Contr
                AGENT</a></li>
            <!--<li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">YouСontrol</a>-->
            <!--</li>-->
            <!--<li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">SMS-Маяк</a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Электронная
            отчётность</a>

        <ul class="nav__sidebar-law">
            <!--<li class="sidebar__law-item"><a href="products/sota.html"-->
            <!--class="nav__sidebar-link hvr-underline-from-left">Веб-сервис-->
            <!--"СОТА"</a></li>-->
            <li class="sidebar__law-item"><a href="products/report.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Веб-сервис
                "Report"</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Электронный
            документооборот</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/vchasno.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Сервис "Вчасно"</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>IP-телефония</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/oblachnaya-ats.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Виртуальная
                АТС FirstOffice</a></li>
        </ul>
    </div>
    <!--<div class="sidebar__nav-block">-->
    <!--<a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Системы CRM </a>-->
    <!--<ul class="nav__sidebar-law">-->
    <!--<li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left"></a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Составление
            договоров</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/smartdoc.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Сервис SmartDoc</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Бухгалтерский учёт</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/1c.html" class="nav__sidebar-link hvr-underline-from-left">1С
                в
                облаке FirstOffice</a></li>

        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Офис в облаке </a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/office365.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Microsoft Office 365</a>
            </li>
            <li class="sidebar__law-item"><a href="products/udalenniy-ofis.html"
                                             class="nav__sidebar-link hvr-underline-from-left">Удалённый
                офис FirstOffice</a></li>

        </ul>
    </div>
    <!--<div class="sidebar__nav-block">-->
    <!--<a class="nav__sidebar-title hvr-float-shadow"><span class="acc__icon">+ </span>Государственные-->
    <!--сервисы</a>-->
    <!--<ul class="nav__sidebar-law">-->
    <!--<li class="sidebar__law-item"><a href="" class="nav__sidebar-link hvr-underline-from-left">Список-->
    <!--государственных сервисов</a></li>-->
    <!--</ul>-->
    <!--</div>-->
</nav>
