<div class="padding__main col-md-1 hidden-sm-down"></div>
<nav class="sidebar__index col-md-3 hidden-sm-down">
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Информационные и правовые
            сервисы</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/ligazakon.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Платформа
                LIGA:ZAKON</a></li>
            <li class="sidebar__law-item"><a href="products/interbuh.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Интерактивная
                бухгалтерия</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Защита компании</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/contragent.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Система проверки
                партнёров ContrAGENT</a></li>
            <li class="sidebar__law-item"><a href="products/sms-mayak.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Защита недвижимости SMS-Маяк</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Электронная
            отчётность</a>

        <ul class="nav__sidebar-law">

            <li class="sidebar__law-item"><a href="products/report.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Веб-сервис
                "Report"</a></li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Электронный
            документооборот</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/vchasno.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Сервис
                "Вчасно"</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">IP-телефония</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/oblachnaya-ats.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Виртуальная
                АТС FirstOffice</a></li>
        </ul>
    </div>

    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Составление
            договоров</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/smartdoc.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Сервис
                SmartDoc</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Бухгалтерский учёт</a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/1c.html" class="nav__sidebar-link hvr-underline-from-left">
                &#8226; 1С в облаке FirstOffice</a></li>

        </ul>
    </div>
    <div class="sidebar__nav-block active">
        <a class="nav__sidebar-title">Офис в облаке </a>
        <ul class="nav__sidebar-law">
            <li class="sidebar__law-item"><a href="products/office365.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Microsoft Office
                365</a>
            </li>
            <li class="sidebar__law-item"><a href="products/udalenniy-ofis.html"
                                             class="nav__sidebar-link hvr-underline-from-left">&#8226; Удалённый
                офис FirstOffice</a></li>

        </ul>
    </div>
    <div class="sidebar__nav-block">
        <a href="oblachniy-buhgalter.html" class="nav__sidebar-title hvr-float-shadow">ОБЛАЧНЫЙ БУХГАЛТЕР</a>

    </div>
    <div class="sidebar__nav-block">
        <a href="oblachniy-yurist.html" class="nav__sidebar-title hvr-float-shadow">ОБЛАЧНЫЙ ЮРИСТ</a>

    </div>
</nav>
