//tools
@import "_misc/mixins";
@import "_misc/normalize";
////partials
@import "partials/animations_hover";
@import "animations.css";

html, body {

  font-family: Open Sans, Optima, sans-serif;

}

.lmain__menu {
  padding-left: 3%;
  background: rgba(192, 226, 229, 0.9);
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in;
  animation-fill-mode: none;
  height: 130px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 6;

  & .hvr-rectangle-out {
    background: transparent;
  }

  .hvr-rectangle-out:before {
    background: #376265;
  }

  & > div {
    padding: 0 16px;

    @include desktop {
      padding: 0 7px;
    }
  }

  & a {
    font-weight: 600;
    text-decoration: none !important;
  }

}

.lnav__fixed {
  position: fixed;
  background: rgba(192, 226, 229, 1);
  height: 100px;
  z-index: 5;
}

.logosticky__o24 {
  margin-right: 10%;
  margin-left: 2%;
}

.partnerlogosticky {
  max-width: 165px;

  @include desktop {
    max-width: 120px;
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  @include tablets {
    display: none;
  }
}

.ligalogo__mob {
  position: absolute;
  left: 120px;
  top: 30px;
  width: 85px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.l__mainmenu-item {
  padding: 0 !important;
}

.l__mainmenu-contacts {
  min-width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;

  & a {
    @include desktop {
      font-size: 14px;
    }
  }

}

.l__mainmenu-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  &:hover {
    color: white !important;
  }
}

.lmain__menu-excellence {
  transition: all 0.5s;
  background: #376265;
  margin-left: 15px;
  display: block;
  padding: 5px 20px;
  text-align: center;
  border: none !important;

  & span {
    color: white;
    font-weight: 500;
  }
}

.nav-scroll ul, .nav-scroll li {
  padding: 0;
  margin: 0;
}

.nav-scroll ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.active {
  border: 1px solid black;
}

.lmain__menu-link {
  padding: 15px 17px;
  font-size: 18px;
  text-decoration: none !important;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  &::before:active {
    background: transparent !important;
  }

  &:active {
    background: transparent !important;
  }

  &:focus {
    background: transparent !important;
  }

  &:visited {
    background: transparent !important;
  }

  .btn-4:after {
    background: #efeff1;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 6;
  }

  @include desktop {
    font-size: 14px;
    text-align: center;
  }

  @include tablets {
    display: none;
  }

}

.ib__header {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-size: cover;

}

.ib__header-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 75vh;

  @include phones {
    height: 100vh;
  }

}

.l__products {
  background: #437BE0;
  padding: 10px 5% 40px 5%;

  & .article__title {
    color: white;
  }
}

.analytics__content {
  padding: 10px 0 0 0;
  background: #eae4df;

  & h2 {
    color: #203048;
    margin-bottom: 40px;
    font-weight: 400;
  }

}

.analytics__feature {
  padding: 35px 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  & p {
    margin-bottom: 30px;
  }

  &-1 {
    background: #EFFEFF;
  }

  &-2 {
    background: #d5dce9;
  }

  &-3 {
    background: #bff2d9;
  }

  &-4 {
    background: #C7FCF2;
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);

  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.l__slider {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    margin-top: 0;
  }

  h3 {

    color: black;

    @include desktop {
      font-size: 32px;
    }

    @include phones {
      font-size: 28px;
      color: white;
    }
  }

  p {
    @include desktop {
      font-size: 26px;
    }

    @include phones {
      font-size: 22px;
      color: white;
    }
  }

  h3, p {
    font-family: Open Sans, Optima, sans-serif;
    color: white;
  }

  & .slide {
    height: 30vh;
    width: 50vw;

    @include desktop {
      width: 45vw;
    }

    @include tablets {
      width: 100vw;
    }

    @include phones {
      width: 100vw;
    }

  }

}

.slide1 {
  background: rgba(192, 226, 229, 1);
  background: -moz-linear-gradient(left, rgba(192, 226, 229, 1) 0%, rgba(113, 149, 152, 0.8) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(192, 226, 229, 1)), color-stop(100%, rgba(113, 149, 152, 0.8)));
  background: -webkit-linear-gradient(left, rgba(192, 226, 229, 1) 0%, rgba(113, 149, 152, 0.8) 100%);
  background: -o-linear-gradient(left, rgba(192, 226, 229, 1) 0%, rgba(113, 149, 152, 0.8) 100%);
  background: -ms-linear-gradient(left, rgba(192, 226, 229, 1) 0%, rgba(113, 149, 152, 0.8) 100%);
  background: linear-gradient(to right, rgba(192, 226, 229, 1) 0%, rgba(113, 149, 152, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0e2e5', endColorstr='#719598', GradientType=1);

}

.slide2 {
  background: rgba(165, 166, 83, 1);
  background: -moz-linear-gradient(left, rgba(165, 166, 83, 1) 0%, rgba(242, 210, 3, 0.8) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(165, 166, 83, 1)), color-stop(100%, rgba(242, 210, 3, 0.8)));
  background: -webkit-linear-gradient(left, rgba(165, 166, 83, 1) 0%, rgba(242, 210, 3, 0.8) 100%);
  background: -o-linear-gradient(left, rgba(165, 166, 83, 1) 0%, rgba(242, 210, 3, 0.8) 100%);
  background: -ms-linear-gradient(left, rgba(165, 166, 83, 1) 0%, rgba(242, 210, 3, 0.8) 100%);
  background: linear-gradient(to right, rgba(165, 166, 83, 1) 0%, rgba(242, 210, 3, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5a653', endColorstr='#f2d203', GradientType=1);
}

.slide3 {
  background: rgba(194, 182, 174, 1);
  background: -moz-linear-gradient(left, rgba(194, 182, 174, 1) 0%, rgba(209, 179, 11, 0.8) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(194, 182, 174, 1)), color-stop(100%, rgba(209, 179, 11, 0.8)));
  background: -webkit-linear-gradient(left, rgba(194, 182, 174, 1) 0%, rgba(209, 179, 11, 0.8) 100%);
  background: -o-linear-gradient(left, rgba(194, 182, 174, 1) 0%, rgba(209, 179, 11, 0.8) 100%);
  background: -ms-linear-gradient(left, rgba(194, 182, 174, 1) 0%, rgba(209, 179, 11, 0.8) 100%);
  background: linear-gradient(to right, rgba(194, 182, 174, 1) 0%, rgba(209, 179, 11, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2b6ae', endColorstr='#d1b30b', GradientType=1);
}

.slide4 {
  background: rgba(120, 199, 242, 0.8);
}

.slide5 {
  background: rgba(67, 95, 140, 0.8);
}

.l__testcont {
  height: 170px;
  background: #7EE1E9;
  flex-direction: column;
  border-top: 2px solid white;
  border-bottom: 2px solid #fff;

  &-big {
    height: 225px;
  }

  &-descr {
    margin-top: 15px;
  }
}

.liga__testcont-descr {
  margin-top: 15px;
  text-align: center;
}

.l__testcont-text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 18px;
  padding: 0 25px;
}

.l__testbtn {

  background: #376265 !important;
  color: white !important;
  padding: 12px 50px;
  font-size: 24px;
  font-weight: 400;
  border: 1px solid white;

  @include phones {
    padding: 26px 11px;
    font-size: 14px;
  }

  & svg {
    height: 57px;
  }

  & rect {
    stroke: #9a9abe;
  }
}

.ib__slogan {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 40px;

  @include tablets {
    margin-top: 130px;
    padding-bottom: 0;
  }

  .partner__brand {
    font-size: 46px;
    color: white;
    margin: 0;
    margin-top: 15px;
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.6);
    text-align: center;

    @include desktop {
      font-size: 42px;
    }

    @include tablets {
      font-size: 40px;
    }

    @include phones {
      text-align: center;
    }
  }
  .partner__slogan {
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-weight: 400;
    background: rgba(120, 199, 242, 0.8);
    border-radius: 4px;
    padding: 20px 40px;

    @include desktop {
      margin-top: 20px;
    }

    @include phones {
      width: 100%;
      text-align: center;
      font-size: 24px;
    }
  }

  & p {
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.7);
    margin-top: 15px;

    @include phones {
      text-align: center;
      font-size: 18px;
    }
  }

}


.article__title {
  font-family: Open Sans, Optima, sans-serif;
}

.l__descr {
  padding: 50px 1vw 30px 1vw;
  background: rgb(132, 199, 208);

  & .article__title {
    margin-bottom: 50px;
    color: white;
    text-align: right;
  }

  & i {
    margin: 4%;
    color: #022383;
  }
}

.descr__title {
  color: white;
  text-align: center;
  line-height: 32px;
}

.feature__descr {
  color: #001148;
}

.l_features {
  padding: 20px 5%;
  background: rgb(221, 253, 247);
  & h2, h3, div, p {
    color: #203048;
  }

  & > p {
    text-align: center;
    margin-bottom: 35px;
  }
}

.icon__features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__section {
  margin-bottom: 15px;
}

.product__feautures {
  border: 1px solid rgba(32, 48, 72, 0.3);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: #EFFEFF;
  padding: 20px 5%;
  height: 100%;

  & p {
    margin: 0;
    padding: 0;
  }

  @include desktop {
    height: 100%;
  }

  @include phones {
    height: 100%;
  }

  & i {
    margin-right: 3%;
  }
}

.ib__fotoblock {
  height: 30vh;
}

.btn-1:hover {
  font-weight: 400 !important;
}

.ib__products {
  padding: 30px 4% 50px 4%;
  background: #BFD3F2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;

  & h2 {
    color: white;
    flex: 1 1 100%;
  }

}

.ib__product-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 7px;
  text-align: center;
  background: #92e2e8;
  color: white;
  font-weight: 500;
  letter-spacing: 2px;
}

.ib__product-text {
  flex: 1 1 100%;
  margin-bottom: 35px;
}

.ib__product-item {
  flex: 1 1 190px;
  max-width: 340px;
  height: 50vh;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px;
  padding: 11px 13px 15px;
  border-radius: 8px;
  background: #f5ece6;
  margin-top: 15px;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.4);

  & ul {
    margin: 0;
    padding: 0;
    padding-left: 27px;
    padding-right: 15px;
  }

  & li {
    margin-bottom: 10px;
  }

  @include desktop {
    min-height: 690px;
  }

  @include tablets {
    min-height: 610px;
  }

  @include phones {
    height: 78vh;
  }

}

.ib__product-descr {
  font-size: 14px;
  margin-top: 10px;
}

.ib__product-price {
  margin-top: auto;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  border-top: 5px solid;
  padding-top: 15px;
  padding-bottom: 10px;

  &-gaz {
    border-color: white;
  }

  &-stan {
    border-color: #A3FF85;
  }

  &-prem {
    border-color: #E8A289;
  }

}

.ib__product-order {
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 20px !important;
  border: 1px solid #767a98 !important;
  padding: 20px 0px !important;
  color: #38547F !important;
  font-weight: 900 !important;
  margin: 0 !important;;
  margin-top: 15px !important;
  background: white;

  &::after {
    opacity: 0;
    background-image: -webkit-linear-gradient(transparent 50%, #e8e8ef 50%) !important;
  }

  &:hover {
    color: black !important;
  }
}


