//tools
@import "_misc/mixins";
@import "_misc/normalize";
////partials
@import "partials/animations";

html, body {

  font-family: Open Sans, Optima, sans-serif;;

}

.ligamain__menu {
  transition: 0.5s all;
  height: 130px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  & .hvr-rectangle-out {
    background: transparent;
  }

  .hvr-rectangle-out:before {
    background: #787d9a;;
  }

  & > div {
    padding: 0 16px;

    @include desktop {
      padding: 0 7px;
    }
  }

  & a {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #2a4491;

    .btn-4:after {
      background: #efeff1;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 6;
    }

    @include desktop {
      font-size: 14px;
    }

    @include tablets {
      display: none;
    }

  }

}

.logosticky__o24 {
  margin-right: auto;
}

.ligalogosticky {
  margin-left: 10px;
  max-width: 130px;

  @include desktop {
    max-width: 100px;
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  @include tablets {
    display: none;
  }
}

.ligalogo__mob {
  position: absolute;
  left: 120px;
  top: 30px;
  width: 85px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.liga__mainmenu-item {
  padding: 0 !important;
}

.liga__mainmenu-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.liga__mainmenu-tel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ligamain__menu-excellence {
  transition: all 0.5s;
  background: rgba(112, 112, 163, 0.7);
  margin-left: 15px;
  display: block;
  border: 1px solid rgba(112, 112, 163, 0.5);
  padding: 5px 20px;
  border-radius: 4px;
  text-align: center;

  & span {
    color: white;
  }
}

.ligamain__menu-link {
  padding: 15px 17px;

}

.liga__header {
  position: relative;
  //background: url("../img/liga_header.jpg");
  //background-size: cover;

}

.liga__overlay {
  position: absolute;
  z-index: -1;
  & img {
    max-width: 100%;
    height: auto;
  }
}

.liga__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.liga__header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.liga__slider {
  display: flex;
  justify-content: center;
  align-items: center;

  & .slide {
    height: 30vh;
  }

}

.liga__tectcont {
  background: #e8e8ef;

}

.liga__testbtn {
  background: #f9e9c0 !important;
  color: black !important;
  padding: 12px 50px;
  font-size: 24px;

  & svg {
    height: 57px;
  }

  & rect {
    stroke: #9a9abe;
  }
}

.liga__slogan {

  padding-left: 5%;

  .partner__brand {
    font-size: 32px;
    color: #25408f;
    margin: 0;
    margin-top: 15px;
  }
  .partner__slogan {
    margin-top: 40px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  & p {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

}
