//tools
@import "_misc/mixins";
@import "_misc/normalize";
////partials
@import "partials/animations_hover";

html, body {

  font-family: Open Sans, Optima, sans-serif;

}

.lmain__menu {
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.6));
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in;
  animation-fill-mode: none;
  height: 130px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 6;
  padding: 0 2vw;

  & .hvr-rectangle-out {
    background: transparent;
  }

  .hvr-rectangle-out:before {
    background: #787d9a;;
  }



  & a {
    font-size: 1.5vw;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: 100;
    white-space: nowrap;
    letter-spacing: 0.05vw;

    .btn-4:after {
      background: #efeff1;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: 6;
    }

    @include desktop {
      font-size: 12px;
      text-align: center;
    }

    @include tablets {
      display: none;
    }

  }

}

.lnav__fixed {
  position: fixed;

  background: white;
  height: 90px;
  z-index: 5;
}

.logosticky__o24 {
  margin-right: auto;
  margin-left: 2%;
}

.liga__partner-logo {
  margin-left: 3%;
  & img {
    max-width: 100%;
    height: auto;
  }
}

.partnerlogosticky {
  margin-left: 20px;
  max-width: 130px;

  @include desktop {
    max-width: 100px;
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  @include tablets {
    display: none;
  }
}

.ligalogo__mob {
  position: absolute;
  left: 120px;
  top: 30px;
  width: 85px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.l__mainmenu-item {
  padding: 0 !important;
}

.l__mainmenu-contacts {
  margin-left: 4%;
  min-width: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.l__mainmenu-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

}

.lmain__menu-excellence {
  transition: all 0.5s;
  background: #716F71;
  display: block;
  border: none;
  padding: 1.2vw 2.5vw;
  text-align: center;

  & span {
    color: white;
  }
}

.lmain__menu-link {
  padding: 15px 17px;
  margin-right: 5px;

  &:hover {
    outline: 1px solid;
  }

}

.current {
  outline: 1px solid;
}

.lmain__nav {
  display: flex;
  flex-direction: row;
  padding-left: 4% !important;
  padding-right: 2%;
  & a {
    white-space: nowrap;
  }
}

.null__link {
  outline: none !important;
}

.liga__header {
  position: relative;
  background: transparent;
  //background: url("../img/liga_header1.jpg");
  //background-size: cover;
  //background-position-y: 50%;

}

.liga__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  margin-bottom: 10vh;

  @include phones {
    margin-top: 50vw;
    padding-bottom: 0;
    height: 70%;
    justify-content: space-around;
  }

}

.liga__header-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 55px;
  padding-top: 13vh;


  @include phones {
    height: 100vh;
  }

}



.liga__testcont {
  height: 180px;
  background: #25408f;
  flex-direction: column;

  @include phones {
    height: 80px;
  }

  &-big {
    @include phones {
      height: 130px;
    }
  }

  &-descr {
    margin-top: 15px;
  }
}

.liga__testcont-descr {
  margin-top: 15px;
  text-align: center;
  color: white;
  font-size: 1.5vw;

  @include phones {
    font-size: 5vw;
  }
}

.l__testbtn {

  background: #de1336 !important;
  color: #f2f6fa !important;
  padding: 12px 50px;
  font-size: 24px;
  font-weight: 500;

  @include phones {
    padding: 11px 11px;
    font-size: 14px;
  }

  & svg {
    height: 57px;

    @include phones {
      height: 41px;
    }
  }

  & rect {
    stroke: #9a9abe;
  }
}

.liga__slogan {



  .partner__brand {
    font-size: 4vw;
    color: black;
    margin: 0;
    font-weight: 500;
    letter-spacing: 2px;


    @include phones {
      font-size: 12vw;
      text-align: center;
      margin-top: 0;
    }
  }
  .partner__slogan {
    font-size: 3vw;
    font-weight: 100;
    margin-top: 40px;
    color: black;


    @include phones {
      display: none;
    }
  }

  & p {
    font-size: 2.2vw;
    text-align: center;
    color: black;
    font-weight: 400;
    margin-top: 5vw;
    border-top: 1px solid black;
    padding-top: 2vw;
    width: 40vw;
    line-height: 3vw;
    letter-spacing: 0.05vw;
    margin-bottom: 5vw;


    @include phones {
      font-size: 7vw;
      text-align: center;
      width: 90%;
      line-height: 10vw;
    }
  }

}

.article__title {
  font-family: Open Sans, Optima, sans-serif;

  @include phones {
    font-size: 8vw;
    margin-bottom: 8vw;
  }
}

.liga__about {
  padding: 3% 8vw 0;
  background: white;


  & i {
    margin-right: 12px;
  }

  @include phones {
    padding: 4.4vw 0 0;
  }
}

.liga__products {
  padding: 0 12vw 4vw;
  background: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;

  & h1 {
    flex: 1 1 100%;
  }

  @include tablets {
    padding: 0 2vw 4vw;
  }

}

.liga__product-title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  background: #274290;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.05vw;
  font-size: 2vw;
  padding: 1vw;
  width: 70%;

  text-transform: uppercase;

  @include phones {
    font-size: 7vw;
    padding: 5vw 0;
  }

}


.liga__product-item {
  background: rgb(241, 249, 255);
  flex: 0 1 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1vw;
  padding: 1.5vw 0.5vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  align-items: center;

  @include tablets {
    width: 100%;
    padding: 5vw;
  }
}

.liga__product-descr {
  font-size: 1.3vw;
  margin-top: 1vw;
  padding: 0 1vw;
  margin-bottom: 2vw;

  @include phones {
    font-size: 5vw;
  }

}

.liga__product-price {
  margin-top: auto;
  text-align: center;
  font-size: 2.2vw;
  font-weight: 400;
  border-top: 4px solid;
  padding-top: 15px;
  color: #2f8cd8;

  @include phones {
    font-size: 7vw;
  }

  &-grand {
    border-color: #618641;
  }

  &-prime {
    border-color: rgb(181, 206, 242);
  }

  &-buhprof {
    border-color: #5A6DA2;
  }

  &-jurprof {
    border-color: #7B93DB;
  }

  &-jur {
    border-color: #43219C;
  }
}

.liga__product-order {
  width: 70%;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 2vw !important;
  padding: 0.5vw 0px !important;
  color: white !important;
  font-weight: 400 !important;
  margin: 0 auto !important;
  margin-top: 15px !important;
  background: #de1336;

  @include phones {
    font-size: 7vw !important;
  }

  &::after {
    opacity: 0;
    background-image: -webkit-linear-gradient(transparent 50%, #e8e8ef 50%) !important;
  }

  &:hover {
    color: white !important;
  }
}

.liga__comparison-table {
  padding: 1vw 15% 3vw;
  background: white;

  & img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
  }

  @include tablets {
    padding: 1vw 0 3vw;
  }
}

.liga__fotoblock {
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.liga__periodicals-article {
  background: white;
  padding: 4vw 12vw;

  @include tablets {
    padding: 4vw 2vw;
  }
}

.article__title-lzperiod {
  margin-bottom: 50px;
  color: black;
}

.periodicals__section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 25px 3vw;

  @include phones {
    padding: 50px 10vw;
    margin-bottom: 15px;
  }

  &-bz {
    background: white;
  }

  &-uz {
    background: rgb(171, 208, 239);
  }

  &-msfo {
    background: rgb(171, 208, 239);
  }

  &-buhlight {
    background: white;

  }

}

.periodicals__section-title {
  font-size: 2.2vw;
  display: flex;
  flex-direction: row;

  @include phones {
    font-size: 7vw;
  }
}

.periodicals__section-type {

  font-size: 2.2vw;

  @include phones {
    font-size: 7vw;
  }
}

.logomain {

  & svg {
    width: 7vw;
  }
}

.periodicals__logo {
  width: 13%;
  position: absolute;
  right: 5%;
  top: 5%;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.periodicals__section-descr {
  margin-top: 20px;
  margin-bottom: auto;
  font-size: 1.3vw;

  @include phones {
    font-size: 5vw;
  }
}

.periodicals__section-price {
  align-self: center;
  margin-top: 20px;
  font-size: 2.2vw;
  font-weight: 700;

  @include phones {
    font-size: 7vw;
  }

}

.periodicals__test-button {
  margin-top: 20px;
  align-self: center;
  width: 80%;
  border: none;
  background: transparent;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  color: #25408f;
  font-size: 2vw;

  @include phones {
    font-size: 7vw;
  }
}

.periodicals__buy-button {
  margin-top: 20px;
  width: 80%;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 2vw !important;
  padding: 10px 0px !important;
  color: white !important;
  font-weight: 400 !important;
  margin: 0 auto !important;
  margin-top: 10px !important;
  background: #de1336;
  border: none;

  @include phones {
    font-size: 7vw !important;
  }
}

.bp-hs_inner__item {
  padding: 0;
  margin: 0;
}

.bxslider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.liga__features {
  padding: 0 8vw 10px;
  background: white;
}

.features__descr {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 3vw;
}

.feature__descr {
  font-size: 1.3vw;

  @include phones {
    font-size: 5vw;
  }

}

.module__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.module__block {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;

  font-size: 20px;
}

.module__item {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  outline: 1px solid black;

  @include phones {
    width: 95vw;
  }

  &-1 {
    background: white;
  }

  &-2 {
    background: #DFE0DA;
  }

  &-3 {
    background: #DFE0DA;
  }
}

.module__name {
  text-align: center;

  @include phones {
    font-size: 5vw;
  }
}

.module__predescr {
  font-size: 16px;
  text-align: center;
}

.module__icon {

  & svg {
    width: 5vw;
    height: 5vw;
  }

}

.module__descr {
  padding: 25px;
  font-size: 18px;
  background: rgba(37, 64, 143, 0.8) !important;
  letter-spacing: 0.4px;
  font-family: Open Sans, Optima, sans-serif !important;

  @include phones {
    display: none;
  }
}

.feature__title {
  margin-bottom: 1.5vw;
  font-size: 1.5vw;
  font-weight: 300;
  color: #25408f;
  letter-spacing: 0.5px;

  @include phones {
    font-size: 7vw;
  }
}

.bx-wrapper {
  box-shadow: none;
}

.product__feautures-liga {
  @include phones {
    margin-bottom: 6vw;
  }
}

.discount {
  padding: 5% 12%;

}

.logomain {
  display: none;
}

.video {
  display: flex;
  flex-direction: column;
  padding: 0% 12% 5%;
  justify-content: center;
  align-items: center;
}

.liga__video1 {
  width: 800px;
  height: 400px;
  margin-top: 2vw;

  @include phones {
    width: 250px;
    height: 150px;
  }
}

.top__themes {
  padding: 0 12%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.top__themes-btn {
  font-size: 1.3vw;
  cursor: pointer;

  @include phones {
    font-size: 5vw;
  }
}

//////////// how it works

.howitworks {
  padding: 3% 12% 0;
}

.howitworks__cont {

  display: flex;
  flex-flow: row wrap;
}

.hovitworks__text {

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 4%;
  font-size: 1.3vw;

  @include phones {
    width: 100%;
    flex: 1;
    font-size: 5vw;
  }

}

.howitworks__img {

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
  border: 1px solid rgba(0, 0, 0, 0.3);

  @include phones {
    width: 100%;
    flex: 1;
  }

  & img {
    width: 100%;
    height: auto;
  }

}

//// линк на главную
.mainlink__block {
  text-decoration: none !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 4%;
  top: 24%;

  @include phones {
    display: none;
  }

}

.mainlink__img {
  width: 60%;
  margin-top: 10px;
  & img {
    width: 100%;
    height: auto;
  }
}

.mainlink__text {
  font-size: 1.5vw;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: 100;
}

.mainlink__coursor {
  position: absolute;
  width: 15%;
  bottom: -25%;
  right: 15%;

  & img {
    width: 100%;
    height: auto;
  }
}

