//tools
@import "_misc/mixins";
@import "_misc/normalize";
////partials
@import "partials/animations_hover";
@import "animations.css";

html, body {

  font-family: Open Sans, Optima, sans-serif;

}

.lmain__menu {
  background: white;
  padding: 3%;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in;
  animation-fill-mode: none;
  height: 130px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 6;

  & .hvr-rectangle-out {
    background: transparent;
  }

  .hvr-rectangle-out:before {
    background: #376265;
  }

  & > div {
    padding: 0 16px;

    @include desktop {
      padding: 0 7px;
    }
  }

  & a {
    font-weight: 100;
    text-decoration: none !important;
  }

}

.lnav__fixed {
  position: fixed;
  background: white;
  height: 80px;
  z-index: 5;
}

.logosticky__o24 {
  margin-right: 10%;
  margin-left: 2%;
}

.partnerlogosticky {
  max-width: 185px;
  min-width: 140px;

  @include desktop {
    max-width: 120px;
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  @include tablets {
    display: none;
  }
}

.partnerlogo__mob {
  position: absolute;
  left: 120px;
  top: 27px;
  width: 85px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.l__mainmenu-item {
  padding: 0 !important;
}

.l__mainmenu-contacts {
  min-width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & a {
    @include desktop {
      font-size: 14px;
    }
  }

}

.l__mainmenu-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  white-space: nowrap;

  &:hover {
    color: black !important;
  }
}

.lmain__menu-excellence {
  transition: all 0.5s;
  background: #25408f;
  margin-left: 15px;
  display: block;
  padding: 10px 35px;
  text-align: center;
  border: 1px solid #f9fbfb !important;

  & span {
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.nav-scroll ul, .nav-scroll li {
  padding: 0;
  margin: 0;
}

.nav-scroll ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.active {
  border: 1px solid black;
}

.lmain__menu-link {
  padding: 15px 17px;
  font-size: 18px;
  text-decoration: none !important;
  cursor: pointer;
  color: black;

  margin-right: 5px;

  &:hover {
    outline: 1px solid white;
    color: black !important;
  }

  &:focus {
    color: black !important;
  }

  @include desktop {
    font-size: 14px;
    text-align: center;
  }

  @include tablets {
    display: none;
  }

}

.current {
  outline: 1px solid;
}

.null__link {
  outline: none !important;
}

.lmain__nav {
  display: flex;
  flex-direction: row;
}

.lz__header {
  position: relative;

  background-size: cover;

}

.lz__header-content {
  display: flex;
  justify-content: center;
  align-items: center;

}

.l__products {
  background: #437BE0;
  padding: 10px 5% 40px 5%;

  & .article__title {
    color: white;
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);

  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.l__testcont {
  height: 170px;
  background: #A64E4C;
  flex-direction: column;
  border-top: 2px solid white;
  border-bottom: 2px solid #fff;

  &-descr {
    margin-top: 15px;
  }

  @include phones {
    height: 90px;
  }

}

.liga__testcont-descr {
  margin-top: 15px;
  text-align: center;
}

.l__testcont-text {
  color: black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 7px;
  font-size: 18px;
  padding: 0 25px;
  width: 100%;

}

.container_btn a {
  color: blue;
}

.sm__slogan {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 12% 5vh;
  margin-top: 130px;

  @include tablets {
    margin-top: 130px;
    padding-bottom: 0;
  }

  @include phones {

    padding: 0 8%;
    align-items: center;
  }

  .partner__brand {
    width: 50%;
    font-size: 3.5vw;
    font-weight: 400;
    color: #25408f;
    text-align: center;

    @include tablets {
      font-size: 40px;
    }

    @include phones {
      width: 100%;
      text-align: center;
      font-size: 11vw;
      margin-bottom: 1vh;
    }
  }
  .partner__slogan {
    text-align: center;
    font-size: 3.4vw;
    line-height: 4vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    color: black;
    font-weight: 500;
    letter-spacing: 0.2vw;
    text-transform: uppercase;

    @include desktop {
      margin-top: 20px;
    }

    @include phones {
      margin-bottom: 6vw;
      text-align: center;
      font-size: 8vw;
      line-height: 10vw;
      padding: 5px 12vw;
    }
  }

}

.partner__descr {
  font-size: 2vw;
  font-weight: 500;
  width: 100%;
  line-height: 3vw;
  text-align: left;
  color: black;
  margin-bottom: 3vw;

  @include phones {
    font-weight: 500;
    font-size: 6vw;
    margin-bottom: 6vw;
    width: 100%;
    line-height: 7vw;
    text-align: center;
  }
}

.article__title {
  font-family: Open Sans, Optima, sans-serif;
  font-weight: 300;
}

.provider__block {
  padding: 4% 12% 6%;
}

.provider_info {
  font-size: 1.5vw;

  @include phones {
    font-size: 5vw;
  }
}

.sm__tariffs {
  padding: 3% 12%;
  background: #DAEFDB;

  @include phones {
    padding: 3% 2%;
  }
}

.tariffs__tab {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.tariff__name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw 2%;
  margin: 0;
  font-size: 2.5vw;
  flex: 1;
  background: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
  border-bottom-color: transparent;

  & a {
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    display: flex;

    @include phones {
      font-size: 4vw;
    }
  }

  &-active {
    background: white;
  }
}

.tariffs__content {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tarif__item {
  background: white;
  display: none;
  padding: 0;
  margin: 0;
  flex-direction: row;

  &-active {
    display: flex;
  }
}

.tarif__item-cont {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 10px 10px;
  border-top-color: transparent;
  padding: 3% 3% 0 5%;

  @include phones {
    padding: 3% 3% 5% 5%;
  }
}

.tarif__img {
  flex: 2;
  margin-bottom: 50px;
  & img {
    width: 100%;
    height: auto;
  }
}

.tarif__text {
  padding-left: 10%;
  flex: 4;
  display: flex;
  flex-direction: column;

  & p {
    font-size: 1.3vw;
    margin-bottom: 0.5vw;

    @include phones {
      font-size: 4vw;
    }
  }

}

.tarif__price {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;

}

.price__text {
  text-align: center;
  font-size: 2vw;

  @include phones {
    font-size: 4vw;
  }

}

.price__num {
  text-align: center;
  font-size: 3vw;

  @include phones {
    font-size: 8vw;
  }

}

.process__block {
  padding: 1% 12% 5%;
  background: #DAEFDB;

  @include phones {
    padding: 1% 5% 5%;
  }
}

.process__cont {
  display: flex;
  flex-direction: row;
  margin-top: 5vw;

  @include phones {
    flex-flow: row wrap;
  }
}

.action__block {
  flex: 1;
  margin: 0 2%;
  padding: 2vw 5%;
  background: #F2FAE4;
  border-radius: 10px;
  transition: all 1s;

  &:hover {
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
  }

  @include phones {
    flex: 100%;
    margin: 0 2% 10vw;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 5vw 9%;
  }

}

.action__name {
  font-size: 1.5vw;
  font-weight: 600;
  height: 8vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  margin-bottom: 1.5vw;
  line-height: 1.9vw;

  @include phones {
    font-size: 5vw;
    line-height: 5vw;
    height: 28vw;
  }
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #28483e;
}

.sm__fotoblock {
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.l__descr {
  padding: 50px 1vw 30px 1vw;
  background: rgb(132, 199, 208);

  & .article__title {
    margin-bottom: 50px;
    color: white;
    text-align: right;
  }

  & i {
    margin: 4%;
    color: #022383;
  }
}

.descr__title {
  color: white;
  text-align: center;
  line-height: 32px;
}

.feature__descr {
  color: #001148;
}

.l_features {
  padding: 3% 12%;
  background: white;
  & h2, h3, div, p {
    color: #203048;
  }

  & > p {
    text-align: center;
    margin-bottom: 35px;
  }
}

.icon__features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__section {
  margin-bottom: 15px;
}

.btn-1:hover {
  font-weight: 400 !important;
}

.video {
  display: flex;
  flex-direction: column;
  padding: 0% 12% 5%;
  justify-content: center;
  align-items: center;
}

.liga__video1 {
  width: 800px;
  height: 400px;
  margin-top: 2vw;

  @include phones {
    width: 250px;
    height: 150px;
  }
}

//// линк на главную
.logomain {
  display: none;
}

.mainlink__block {
  text-decoration: none !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 12%;
  bottom: 6%;
  width: 15%;

  @include phones {
    display: none;
  }

}

.mainlink__img {
  width: 60%;
  margin-top: 10px;
  & img {
    width: 100%;
    height: auto;
  }
}

.mainlink__text {
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: 100;
}

.mainlink__coursor {
  position: absolute;
  width: 10%;
  bottom: -25%;
  right: 27%;

  & img {
    width: 100%;
    height: auto;
  }
}

.action__button-fst {
  position: absolute;
  top: 50%;
  left: 4%;

  @include phones {
    top: 17%;
    left: 21%;
  }
}

.action__title {
  font-size: 18px;
  margin-bottom: 1vw;
  letter-spacing: 0.06vw;
  font-weight: 600;
}

.action__more {
  font-size: 18px;
}

.ib__action {
  padding: 5% 0 0;
}

.action__slogan {
  font-size: 2.2vw;
  font-weight: 400;
  text-align: center;
  color: red;
  margin-bottom: 2vw;

  @include phones {
    font-size: 8vw;
    margin-bottom: 5vw;
  }
}

.action__descr {
  line-height: 25px;
}

.bye__button {
  font-size: 1.3vw;
  text-transform: uppercase;

  text-decoration: none !important;
  color: #ffffff !important;
  letter-spacing: 0.15vw;
  background: #de1336;
  padding: 0.6vw 2vw;
  text-align: center;
  margin: 1vw 0 1vw 5%;
  width: 50%;

  @include phones {
    font-size: 6vw;
    padding: 3vw 12vw;
    width: 100%;
    margin: 0 0 6vw;
  }
}

.btn__block {
  width: 60%;

  @include phones {
    width: 100%;
  }
}

.system__price {
  width: 40%;

  @include phones {
    width: 100%;
    margin-bottom: 7vh;
  }
}

.system__img {
  width: 15%;

  & img {
    width: 100%;
    height: auto;
  }

  @include phones {
    width: 20%;
    margin: 6vw 0;
  }
}

.system__info {
  font-size: 1.3vw;
  margin-bottom: 1vw;
  margin-top: 2vw;

  @include phones {
    font-size: 5vw;
  }

  & li {
    margin-bottom: 0.7vw;

    @include phones {
      margin-bottom: 1vw;
    }
  }
}

.system__price-bye {

  margin: 1vw 0;

  & p {
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 0;

    @include phones {
      font-size: 6vw;
      text-align: center;
    }
  }

  & span {

    font-size: 2.5vw;
    color: #de1336;

    @include phones {
      font-size: 9vw;
      text-align: center;
      display: block;
    }
  }

  @include phones {
    margin: 1vw 0 5vw;
  }
}

.system__price-num {

  & p {
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 0;

    @include phones {
      font-size: 6vw;
      text-align: center;
    }
  }

  & span {

    font-size: 2.5vw;
    color: #de1336;

    @include phones {
      font-size: 9vw;
      text-align: center;
      display: block;
    }
  }

}