//tools
@import "_misc/mixins";
@import "_misc/normalize";
////partials
@import "partials/animations_hover";
@import "animations.css";

.lmain__menu {
  padding: 1vw 3%;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in;
  animation-fill-mode: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 6;

  & .hvr-rectangle-out {
    background: transparent;
  }

  .hvr-rectangle-out:before {
    background: #376265;
  }

  & > div {
    padding: 0 16px;

    @include desktop {
      padding: 0 7px;
    }
  }

  & a {
    font-weight: 400;
    text-decoration: none !important;
    white-space: nowrap;
  }

}

.lnav__fixed {
  position: fixed;
  background: linear-gradient(135deg, rgb(248, 251, 252) 0%, rgb(242, 248, 253) 41%, rgb(148, 169, 188) 65%, rgb(224, 233, 240) 65%, rgb(148, 169, 188) 65%);

  z-index: 5;
}

.logosticky__o24 {
  margin-right: 3%;
}

.partnerlogosticky {
  max-width: 165px;
  min-width: 120px;

  @include desktop {
    max-width: 120px;
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  @include tablets {
    display: none;
  }
}

.partnerlogosticky-mob {
  position: absolute;
  left: 120px;
  top: 30px;
  width: 85px;

  & img {
    width: 100%;
    height: auto;
  }
}

.l__mainmenu-item {
  padding: 0 !important;
}

.l__mainmenu-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.l__mainmenu-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5vw;
  font-weight: 400 !important;
  letter-spacing: 1px;
  white-space: nowrap;

  &:hover {
    color: #023756;

  }
}

.lmain__menu-excellence {
  transition: all 0.5s;
  background: #94a9bc;

  margin-left: 15px;
  display: block;
  padding: 1vw 2vw;
  text-align: center;
  border: 1px solid #dae4ed;
  font-size: 1.5vw;

  & span {
    color: white;
    font-weight: 500;
  }
}

.nav-scroll ul, .nav-scroll li {
  padding: 0;
  margin: 0;
}

.nav-scroll ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.active {
  border: 1px solid black;
}

.lmain__menu-link {
  padding: 15px 17px;
  font-size: 1.5vw;
  text-decoration: none !important;
  cursor: pointer;
  color: #023756;
  margin-right: 5px;

  &:hover {
    outline: 1px solid #023756;
    color: #023756 !important;
  }

  &:focus {

    color: #023756 !important;
  }

  @include desktop {

    text-align: center;
  }

  @include tablets {
    display: none;
  }

}

.current {
  outline: 1px solid;
}

.null__link {
  outline: none !important;
}

.lmain__nav {
  display: flex;
  flex-direction: row;
}

.sd__header {
  position: relative;

  background: linear-gradient(135deg, rgb(248, 251, 252) 0%, rgb(242, 248, 253) 41%, rgb(148, 169, 188) 65%, rgb(224, 233, 240) 65%, rgb(148, 169, 188) 65%);
  background-size: cover;

}

.sd__header-content {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 150px;

  @include phones {
    height: 100vh;
  }

}

.l__products {
  background: #437BE0;
  padding: 10px 5% 40px 5%;

  & .article__title {
    color: white;
  }
}

.analytics__content {
  padding: 10px 0 0 0;
  background: #eae4df;

  & h2 {
    color: #203048;
    margin-bottom: 40px;
    font-weight: 400;
  }

}

.analytics__feature {
  padding: 35px 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  & p {
    margin-bottom: 30px;
  }

  &-1 {
    background: #EFFEFF;
  }

  &-2 {
    background: #d5dce9;
  }

  &-3 {
    background: #bff2d9;
  }

  &-4 {
    background: #C7FCF2;
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);

  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.slider {
  width: 60vw;

  @include phones {
    padding: 0;
    width: 93vw;
  }
}

.l__slider {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    margin-top: 0;
  }

  h3 {

    font-size: 3vw;
    color: black;

    @include phones {
      font-weight: 500;
      font-size: 7vw;
      color: white;
    }
  }

  p {
    font-size: 3vw;

    @include phones {
      font-size: 7vw;
      letter-spacing: -1px;
    }
  }

  h3, p {
    color: white;

  }

  & .slide {
    height: 280px;
    width: 50vw;
    background: transparent !important;
    border: 1px solid white;

    @include desktop {
      width: 45vw;
    }

    @include tablets {
      width: 94vw;
    }

    @include phones {
      width: 100%;
      padding: 0 3vw;
    }

  }

}


.l__testcont {
  height: 170px;
  background: rgb(227, 234, 243);
  flex-direction: column;
  border-top: 2px solid white;
  border-bottom: 2px solid #fff;

  &-big {
    height: 225px;
  }

  &-descr {
    margin-top: 15px;
  }
}

.liga__testcont-descr {
  margin-top: 15px;
  text-align: center;
}

.l__testcont-text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 7px;
  font-size: 18px;
  padding: 0 25px;
}

.l__testbtn {

  background: rgb(188, 127, 2) !important;
  color: white !important;
  padding: 12px 50px;
  font-size: 28px;
  font-weight: 400;
  border: 1px solid #344559;

  @include phones {
    padding: 26px 11px 10px;
    font-size: 14px;
  }

  & svg {
    height: 62px;

    @include phones {
      height: 41px;
    }
  }

  & rect {
    stroke: #9a9abe;
  }
}

.sd__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 40px;

  @include tablets {
    margin-top: 130px;
    padding-bottom: 0;
  }

  @include phones {
    margin-top: 0;
    margin-bottom: 2vh;
  }

  .partner__brand {
    font-size: 5vw;
    color: #8BB5DD;
    margin: 0;
    margin-top: 15px;
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: "Raleway", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
      width: 50%;
      height: auto;
    }

    @include desktop {
      font-size: 42px;
    }

    @include tablets {
      font-size: 40px;
    }

    @include phones {
      text-align: center;
    }
  }
  .partner__slogan {
    text-align: center;
    font-size: 3vw;
    margin-top: 40px;
    color: #023756;
    font-weight: 400;
    font-family: "Raleway", Arial, sans-serif;
    line-height: 4vw;
    letter-spacing: 0.03vw;

    @include desktop {
      margin-top: 20px;
    }

    @include phones {
      width: 100%;
      text-align: center;
      font-size: 24px;
      line-height: 10vw;
    }
  }

  & p {
    font-size: 22px;
    font-weight: 300;
    color: white;
    margin-top: 15px;

    @include phones {
      text-align: center;
      font-size: 18px;
    }
  }

}

.l__descr {
  padding: 50px 1vw 30px 1vw;
  background: rgb(132, 199, 208);

  & .article__title {
    margin-bottom: 50px;
    color: white;
    text-align: right;
  }

  & i {
    margin: 4%;
    color: #022383;
  }
}

.descr__title {
  color: white;
  text-align: center;
  line-height: 32px;
}

.feature__descr {
  color: rgb(237, 241, 244);
  padding: 7px 3%;
  margin: 0;
  text-align: center;
}

.l_features {
  padding: 3% 12%;
  background: #94a9bc;
  & h2, h3, div, p {
    color: rgb(237, 241, 244);
  }

}



.l__feature-item {
  padding: 2vw 2% 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-direction: column;

  &-vert {
    flex-direction: column;

    & img {
      width: 100%;
      height: auto;
    }
  }

  & p {
    font-size: 1.5vw;
    text-align: center;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-top: 10px;

    @include phones {
      font-size: 5vw;
    }
  }
}

.smartdoc__screen {
  width: 90%;
  margin-top: 4vw;
}

.l__feature-icon {
  margin-right: 5%;

  & i {
    color: white;
  }

  & svg {
    width: 4vw;
    height: 4vw;

    @include phones {
      width: 15vw;
      height: 15vw;
    }
  }

  & path {
    fill: #fff;
  }
}

.article__title {

  font-weight: 300;
  text-align: center;
  font-size: 3.5vw;

  &-blue {
    color: #1D1B77;
  }

  &-white {
    color: #fff;
    font-weight: 400;
    font-size: 5vw;
  }

  @include phones {
    font-size: 8vw;
  }
}

.order__l {
  margin-left: 2%;
  border: none;
  border: 1px solid;
  padding: 10px 40px;
  border-radius: 8px;
  background: rgb(209, 216, 4);
  color: white;
  font-size: 2vw;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

  @include phones {
    font-size: 5.2vw;
    padding: 10px 20px;

  }

}

.l__tariffs {
  padding: 3% 12%;
  background: white;

  @include phones {
    padding: 3% 6%;
  }
}

.tariffs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

}

.tariff__item {
  flex: 1 1 190px;
  min-height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 20px 20px 10px;
  background: #94a9bc;
  transition: all 0.5s;

  &:hover {
    box-shadow: rgba(19, 121, 215, 0.2) 1.41px 1.41px 20px 0px, rgba(70, 171, 255, 0.25) 0px 2px 15px 0px, rgba(61, 153, 249, 0.25) 0px 15px 25px 0px;
  }

}

.tariff__title {
  font-size: 2vw;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6vw;
  text-align: center;
  background: white;
  color: black;
  font-weight: 400;
  letter-spacing: 0px;
  border-radius: 10px;
  text-transform: uppercase;

  @include phones {
    font-size: 7.5vw;
  }
}

.tariff__month {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  color: black;
  font-weight: 500;
  font-size: 2vw;
  margin-top: 1vh;


  @include phones {
    font-size: 8vw;
  }
}

.tariff__descr {
  text-align: center;
  margin-top: 20px;
  margin-bottom: auto;
  color: white;
  font-size: 1.5vw;
  padding: 10px 4%;
  font-weight: 300;

  @include phones {
    font-size: 6vw;
  }
}

.tariff__button {
  text-transform: uppercase;
  background: transparent;
  border: 2px solid white;
  border-radius: 7px;
  padding: 1vw 2vw;
  font-size: 2vw;
  margin: 20px 20px;
  color: white;

  @include phones {
    font-size: 7vw;
  }

}

.tariff__price {
  font-size: 2vw;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  padding: 12px 0;
  border-top: 6px solid;
  margin-top: 20px;

  &-2 {
    border-color: #C4D1DE;
  }

  &-3 {
    border-color: black;
  }


  @include phones {
    font-size: 8.7vw;
  }

}

.sd__fotoblock {
  height: 40vh;
}

.btn-1:hover {
  font-weight: 400 !important;
}

.video {
  padding: 3% 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;

  @include phones {
    padding: 3% 6% 13%;
  }
}

.video__iframe {

  width: 80%;
  height: 400px;

  @include phones {
    height: 200px;
  }
}

.bp-hs_inner__item {
  padding: 0;
  margin: 0;
}