//tools
@import "_misc/mixins";
@import "_misc/normalize";
////partials
@import "partials/animations_hover";
@import "partials/sidebar-nav";
@import "partials/footer";
@import "partials/btn";
//animations
@import "animations.css";
////fonts
@import "../fonts/raleway.css";
/*
	Raleway, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic, 900, 900 italic
*/
@import "../fonts/sourcesanspro.css";
/*
	Source Sans Pro, 200, 200 italic, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 900, 900 italic
*/
@import "../fonts/opensans.css";
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/
@import "../fonts/font-awesome.css";

//vars
$ligared: #CF112A;
$ligablack: #10213D;

* {
  @include box-sizing(border-box);

}

html, body {
  min-height: 100%;
  width: 100%;
  line-height: 1.42;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  //font-family: "Raleway", Arial, sans-serif;
  position: relative;
}

.nav__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  transition: .5s ease-in-out;

  & .stickyheader__logo {
    display: none;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 7;
}

.navbar-nav {
  align-items: center;
}

.navbar-collapse {
  z-index: 10;
  background: #f7f7f7;
  padding-bottom: 20px;
}

.nav-item-excellence {
  background: rgba(112, 112, 163, 0.7);
  border: 1px solid rgba(112, 112, 163, 0.5);
  padding: 0 10px;
  border-radius: 4px;

  & a {
    color: white !important;
    text-align: center;
  }

}

.nav__fixed {
  width: 100vw;
  position: fixed;
  z-index: 5;
  padding: 0;
  left: 1px;
  height: 100px;
  background: #023756;
  margin: 0;
  padding: 0 12vw;

  & .nav__main-item a {
    color: white;
    text-shadow: none;
    font-weight: 200;
  }

  & .stickyheader__logo {
    display: flex;
  }

  & .nav__main-item-active {
    background: rgba(245, 246, 247, 0.4);
  }
}

.navbar-toggler {
  top: 21px;
  right: 7%;
}

.navbar-light .navbar-toggler {
  border-color: rgb(112, 112, 163);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(112, 112, 163)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar-light .navbar-nav .nav-link {
  color: rgb(112, 112, 163);
}

.navbar-brand {
  margin-top: 12px;
  margin-bottom: 4px;
}

.nav-link-tel, .nav-link-mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickyheader__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  flex: 1 1;

  & img {
    max-width: 100%;
    height: 55px;
  }
}

.nav__main-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 20px;

  & a {
    font-family: "Raleway", Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 2vw;
    font-weight: 500;
    letter-spacing: 1px;
  }

  &-active {
    border: 1px solid rgba(0, 0, 0, 0.3);

  }
}

.header {

  &__main {
    position: relative;
    height: 45vh;
    background: #C9D6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0 12vw;

    @include tablets {
      padding: 0;
      height: 70vh;
    }
  }

  &__about {
    position: relative;
    height: 300px;
    background: transparent;

    @include tablets {
      height: 230px;
    }
  }

  &__ob {
    position: relative;
    height: 30vh;
    background: #C9D6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0 12vw;

    @include tablets {
      padding: 0;
      height: 70vh;
    }
  }
}

.header__main-sticky {
  margin-bottom: 53px;
}

.logo__block {

  //background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-main {
    height: 45vh;

    @include tablets {

      justify-content: flex-end;
      padding-bottom: 15px;
    }

    @include phones {
      padding-bottom: 10px;
    }

  }

  &-ob {
    height: 30vh;

    @include tablets {

      justify-content: flex-end;
      padding-bottom: 15px;
    }

    @include phones {
      padding-bottom: 10px;
    }

  }

  &-about {
    height: 350px;

    & .logo__block-img {

      width: 40%;

    }

  }
}

.logo__block-img {
  height: 28%;
  width: 210px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.logo__block-slogan {
  width: 90%;
  margin-top: 40px;

  &-sec {
    margin-top: 4%;
    margin-bottom: 7%;
  }

  & h2 {
    text-align: center;
    font-family: "Century Gothic";
    font-size: 40px;
    font-weight: 400;
    color: #000;
    margin-top: 10px;

    @include tablets {
      font-size: 5vw;
      font-weight: 500;
    }

    @include phones {
      font-size: 14vw;
    }
  }
}

.logo__block-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  margin-bottom: 2vw;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: #002942;
  }
}

.header_standart-contacts {

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & a {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 26px;
    text-shadow: 2px 2px 1px rgb(254, 237, 237);

  }

  @include tablets {
    align-items: flex-end;
    margin-top: 110px;
  }

}

.navbar-title {
  position: absolute;
  top: 26px;
  left: 30%;
  font-size: 18px;
  padding: 3px 4%;
  color: #7070a3;
  font-weight: 600;

  &-small {
    @include phones {
      left: 29%;
      font-size: 16px;
      padding: 3px 3%;
      border-radius: 4px;
      color: #7070a3;
      font-weight: 600;
    }
  }
}

.overlay {
  margin: 0px;
  padding: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 64vh;
  //background-image: url("../img/whiteblue_back.png"); //BCBCF0
  opacity: 0.5;
}

.main__content {
  min-height: 500px;
  padding-left: 0;
  padding-right: 0;

}

.slider-cont {
  margin-top: -20px;
  height: 500px;
  align-items: center;

  @include laptop {
    margin-top: 60px;
  }

  @include tablets {
    margin-top: 0;
    align-items: flex-start;
  }

}

.slider {


  @include desktop {
    width: 50vw;
  }

  @include tablets {
    width: 95vw;
  }

  @include phones {
    width: 95vw;
  }

}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #023756;
  width: 90%;
  margin: 0 auto;
  height: 200px;
  padding-top: 15px;


  @include desktop {
    width: 50vw;

  }

  @include tablets {
    width: 95vw;
    padding-top: 20px;
    height: 260px;

  }

  @include phones {
    width: 95vw;
    margin-left: 0;
    padding-top: 0;
  }

  & h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #023756;
    font-size: 2vw;
    padding: 0 10px;
    font-weight: 400;
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
    padding: 0 3vw;
    letter-spacing: 1px;

    @include tablets {
      font-size: 5vw;
    }

    @include phones {
      font-size: 8vw;
    }

  }

  & p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #023756;
    font-size: 2vw;
    line-height: 45px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 3vw;
    margin-top: 20px;
    font-weight: 400;
    font-family: "Raleway", Arial, sans-serif;
    letter-spacing: 1px;

    @include tablets {
      font-size: 24px;
      line-height: 25px;
      margin-top: 15px;

    }
  }

}

.slide1 {
  background: #f5f6f7;

}

.slide2 {
  background: #f5f6f7;

}

.slide3 {
  background: #f5f6f7;

}

.slide4 {
  background: #f5f6f7;

  & p {
    margin-top: 30px;
  }
}

.slide5 {
  background: #f5f6f7;

}

.index__fotoblock, .excellence__fotoblock, .partn__fotoblock {
  height: 50vh;
  background: transparent;
}

//////////////////// index main

.main__action {
  padding: 10px;
  background: rgb(75, 104, 121);
  display: flex;
  flex-flow: row wrap;
}

.article__title {
  font-size: 2.2vw;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  color: black;
  font-family: "Raleway", Arial, sans-serif;
  flex: 1 1 100%;
  margin: 30px 0;

  &-black {
    color: black;
  }

  @include phones {
    font-size: 26px;
  }
}

.action__item {
  margin-bottom: 25px;
}

.card-img-top {
  height: 150px;
}

.action__section {
  z-index: 2;
  display: flex;
  flex-flow: row wrap;

  padding: 3vw;
  flex: 1 1 48%;
  margin: 1vh 1%;
  background: rgb(240, 241, 163);
  color: #002942;

  @include desktop {
    flex: 1 1 100%;

  }
}

.action__title {
  flex: 1 1 60%;
  margin-bottom: 30px;
  font-size: 2.6vw;
  color: #25408f;

}

.action__logo {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;

  & img {
    max-width: 100%;
    height: auto;
  }

}

.action__partner-text {
  font-size: 1.3vw;
}

.index__btn {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #363670 !important;
  font-size: 1.3vw !important;
}

.main__test {
  background: rgb(252, 246, 179);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.test__section {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 3vw;
  background: transparent;
  margin: 10px 1%;
  border: 1px solid #002942;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.article__text {
  text-align: center;
  font-size: 1.6vw;
  margin-top: -10px;
}

.test__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 40%;
  &img {
    min-width: 100%;
    height: auto;
  }
}

.test__title {
  margin-top: 15px;
  text-align: center;
  flex: 1 1 60%;
  font-size: 2.5vw;
}

.test__text {
  padding: 25px 0;
  flex: 1 1 60%;
  font-size: 1.6vw;
}

.test__button-cont {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test__button {
  text-decoration: none !important;
  cursor: pointer;
  padding: 14px 18% !important;
  text-transform: uppercase;
  font-size: 1.3vw !important;
}

/* BORDER TRANSITIONS */
/* Border Fade */
.hvr-border-fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 2px #e1e1e1, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}

.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 1px rgba(32, 152, 209, 0.5), 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}

.button__up {
  cursor: pointer;
  position: fixed;
  z-index: 6;
  right: 10%;
  bottom: 5%;
  opacity: 1;
  text-decoration: none;
  overflow: hidden;
  background-color: #a7a7c6;
  color: white;
  width: 6vw;
  height: 6vw;
  display: flex !important;
  justify-content: center;
  align-items: center;

  & img {
    width: 60%;
    height: auto;
  }

  @include phones {
    right: 15%;
    bottom: 10%;
    width: 15vw;
    height: 15vw;
  }
}

.navcont-main {
  display: flex;
  flex-direction: column;

  @include phones {
    padding-top: 15px;
  }
}

.navbar-brand {

  width: 60px;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.about__content {
  padding: 0;
  font-size: 20px;

  & h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 20px;

    @include phones {
      font-size: 16px;
    }
  }

  & h2 {
    @include phones {
      font-size: 26px;
    }
  }

  & li {
    @include phones {
      font-size: 16px;
    }
  }

  & p {
    margin-bottom: 0;

    @include phones {
      font-size: 16px;
    }

  }

  & article {
    padding: 40px;

    @include tablets {
      padding: 20px 15px;
    }
  }
}

.about__article {

  padding: 4vw 12vw 4vw 4vw;

  @include phones {
    padding: 8vw 8vw 4vw 8vw;
  }

  & p, li {
    font-size: 1.6vw;
    font-family: "Segoe UI";
    letter-spacing: 0.3px;
    line-height: 2.3vw;

    @include tablets {
      font-size: 4vw;
    }

    @include phones {
      font-size: 5vw;
      line-height: 7vw;
    }
  }

  & h3 {
    font-size: 1.8vw;
    font-weight: 500;
    margin-top: 3vw;
  }

  &-1 {
    background: rgb(217, 226, 255);
  }

  &-2 {
    background: rgb(245, 246, 247);
  }

  &-3 {
    background: rgb(217, 226, 255);

  }

  &-4 {
    background: rgb(245, 246, 247);
  }
}

.about__title {
  text-align: center;
  color: #213741;
  margin-bottom: 2vw;
  font-size: 2vw;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px;

  @include tablets {
    font-size: 5vw;
  }

  @include phones {
    font-size: 7vw;
    margin: 10vw 0;
  }
}

.exellence__content {
  padding: 0;


  & li {
    font-size: 1.6vw;
    font-family: "Segoe UI";
    letter-spacing: 0.3px;
    line-height: 2.3vw;

    margin-bottom: 10px;
    @include phones {
      font-size: 5vw;
      line-height: 7vw;
    }

  }

  & p {
    font-size: 1.6vw;
    font-family: "Segoe UI";
    letter-spacing: 0.3px;
    line-height: 2.3vw;

    margin-bottom: 0;

    @include phones {
      font-size: 5vw;
      line-height: 7vw;
    }
  }

  & h2 {
    text-align: center;
    color: #213741;
    margin-bottom: 2vw;
    font-size: 2vw;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;

    @include phones {
      font-size: 7vw;
      margin: 10vw 0;
    }

  }

  & article {
    padding: 4vw 12vw 4vw 4vw;

    @include phones {
      padding: 8vw;
    }

  }

}

.exellence__money {
  background: rgb(217, 226, 255);
}

.excellence__convenience {
  background: #f5f6f7;
}

.excellence__security {
  background: rgb(217, 226, 255);
}

.excellence__adaptation {
  background: #f5f6f7;
}

.excellence__news {
  background: rgb(217, 226, 255);
}

.excellence__features {
  background: #f5f6f7;
}

//partnership

.partnership__content {
  padding: 0;
  font-size: 20px;

  @include phones {
    font-size: 16px;
  }

  & ul {

    @include phones {
      padding-left: 20px;
    }

  }

  & li {
    font-size: 1.6vw;
    margin-bottom: 1vw;
    letter-spacing: 0.3px;
    line-height: 2.3vw;

    @include phones {
      font-size: 5vw;
      line-height: 7vw;
    }
  }

  & p {
    font-size: 1.6vw;
    margin-bottom: 0;
    letter-spacing: 0.3px;
    line-height: 2.3vw;

    @include phones {
      font-size: 5vw;
      line-height: 7vw;
    }
  }

  & h2 {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    color: #213741;
    margin-bottom: 2vw;
    font-size: 2vw;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;


    @include phones {
      font-size: 7vw;
      margin: 10vw 0;
    }
  }

  & article {
    padding: 4vw 12vw 4vw 4vw;

    @include phones {
      padding: 8vw 10vw;
    }
  }

}

.partn__about {
  background: rgb(217, 226, 255);
}

.partn__forclient {
  background: #f5f6f7;
}

.partn__forservice {
  background: rgb(217, 226, 255);
}

.partn__contacts {
  background: #f5f6f7;
}

// landing blocks

.test__block {
  height: 100px;
  background: rgba(182, 217, 248, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: transparent;
  border: none;
  margin-bottom: 2vw;
  margin-top: 2vw;
  padding: 0 10%;
}

//btn

.hvr-shutter-out-vertical:before {
  background: rgba(95, 95, 117, 0.2);
}

.btn-4 {

  overflow: hidden;
  position: relative;

  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
  }
}

.btn-4:hover {

  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.btn-1 {
  background: darken(#E1332D, 1.5%);
  font-weight: 100;

  & svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  & rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
  }
}

.btn-1:hover {
  background: rgba(#E1332D, 0);
  font-weight: 500;
  letter-spacing: 1px;

  & rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

//svg logo

.st0 {
  fill: rgba(2, 55, 86, 1);
}

.st1 {
  fill: rgba(2, 55, 86, 1);
}

.st2 {
  fill: rgba(2, 55, 86, 1);
}

.st3 {
  fill: rgba(2, 55, 86, 1);
}

.st4 {
  fill: rgba(2, 55, 86, 1);
}

.st5 {
  fill: rgba(2, 55, 86, 1);
}

.st6 {
  fill: rgba(2, 55, 86, 1);
}

.st7 {
  fill: rgba(2, 55, 86, 1);
}

.st8 {
  fill: rgba(2, 55, 86, 1);
}

.wt0 {
  fill: #fff;
}

.wt1 {
  fill: #fff;
}

.wt2 {
  fill: #fff;
}

.wt3 {
  fill: #fff;
}

.wt4 {
  fill: #fff;
}

.wt5 {
  fill: #fff;
}

.wt6 {
  fill: #fff;
}

.wt7 {
  fill: #fff;
}

.wt8 {
  fill: #fff;
}

.logomain {

  & svg {
    width: 7vw;
  }
}

a.animated-button.gibson-four:after {
  opacity: 0;
  background-image: -webkit-linear-gradient(transparent 50%, #c0c4c1 50%) !important;
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

a.animated-button.gibson-three:after {
  opacity: 0;
  background-image: -webkit-linear-gradient(transparent 50%, rgba(101, 179, 122, 0.2) 50%);
  background-size: 10px 10px;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

/////////////////// popup
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;

  display: none;
  justify-content: center;
  align-items: center;
}

.popup__form-test, .popup__form-order {
  padding: 0 4%;
  position: fixed;
  width: 57%;
  background: white;
  border-radius: 15px;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include desktop {
    height: 60vw;
  }

  @include tablets {
    height: 95vh;
    width: 90%;
  }

}

.popup__title {
  text-transform: uppercase;
  font-size: 2vw;
  flex: 649;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
  margin-top: 2vw;

  @include desktop {
    font-size: 4vw;
  }

  @include tablets {
    font-size: 26px;
    flex: 280;
  }

  @include phones {
    flex: 170;
  }

}

.popup__h2 {
  flex: 293;
  font-size: 30px;
  text-transform: lowercase;
  text-align: center;

  @include tablets {
    flex: 80;
  }
}

.popup__text {
  flex: 538;
  font-size: 1.5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2vw;

  @include phones {
    font-size: 6vw;
    margin-top: 5vw;
    width: 100%;
    padding: 0 5%;
  }

}

.popupform-order, .popupform-test {
  flex: 587;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px 0;

  @include tablets {
    flex: 410;
  }
}

.order__name-input {
  font-size: 2vw;
  padding: 12px;
  border-radius: 33px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100%;

  &:focus {
    outline: none;
  }

  @include desktop {
    font-size: 20px;
  }

}

.order__tel-input {
  font-size: 2vw;
  padding: 12px;
  border-radius: 33px;
  border: 1px solid #b5b5b5;
  text-align: center;
  width: 100%;

  &:focus {
    outline: none;
  }

  @include desktop {
    font-size: 20px;
  }

}

.form__button-popup {
  margin-top: 2vw;
  width: 55%;
  text-align: center;
  padding: 1.2vh 0;
  font-size: 2vw;
  border-radius: 33px;
  border: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);

  @include tablets {
    margin-top: 10px;
    width: 90%;
    font-size: 7vw;
  }
}

.close__popup, .close__fr {
  width: 34px;
  cursor: pointer;
  position: absolute;
  font-size: 40px;
  top: 0;
  right: 0;
}

.form-group {
  margin: 1.5vw 2% 0;
  width: 55%;
  text-align: center;

  @include tablets {
    width: 90%;
    margin-bottom: 0;
  }

}

.message-success {
  text-align: center;
  font-size: 1.6vw;
  padding-top: 30px;

  @include phones {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

}

.bp-hs_inner__item {
  padding: 0;
  margin: 0;
}

.bxslider {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main__slogan {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    font-family: Raleway, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.4vw;
    text-align: right;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 4px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;

    @include phones {
      font-size: 5.4vw;
    }
  }

}

.main__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  padding-right: 12vw;
  background: #f5f6f7;

  @include tablets {
    padding-right: 0;
  }
}

.footer_confidential {
  display: flex;
  flex-direction: row;

  & p {
    width: 30vw;

    @include phones {
      width: 75vw;
    }
  }

}

.conf__icon {

  margin-right: 1vw;

  & svg {
    width: 2vw;
    height: 2vw;
  }
}

.discount {
  padding: 2% 12%;
  font-size: 0;

  @include phones {
    padding: 12%;
  }

}

.discount__intro {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  font-size: 1.5vw;


  @include phones {
    width: 100%;
    font-size: 5vw;
  }

}

.discount__links {
  display: inline-block;
  width: 60%;
  font-size: 1.5vw;

  @include phones {
    width: 100%;
    font-size: 5vw;
  }

}

.intro__cont {
  text-align: center;
}

.discount__link {
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 1vw;

  @include phones {
    justify-content: space-between;
    font-size: 5vw;
  }
}

.discount__arr {
  font-size: 3vw;
  margin: 0 1vw;

  @include phones {
    font-size: 7vw;
  }
}


  .discount__img {
    width: 20%;
    margin-left: 4%;
    margin-bottom: 0.5%;

    @include phones {
      width: 40%;
    }

    &-off365 {
      width: 15%;

      @include phones {
        width: 32%;
      }
    }

    & img {
      width: 100%;
      height: auto;
    }
  }



.discount__page {
  display: inline-block;
  width: 100%;
  font-size: 2vw;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 3vw;

  @include phones {
    font-size: 5vw;
    font-weight: 600;
  }

}

/// облачный бухгалтер

.ob__index {

  padding: 3% 8%;

  @include phones {
    padding: 8%;
  }

}

.discount_button {
  border: 1px solid;
  padding: .5vw 1.5vw .6vw;
  border-radius: 3px;
  margin-left: 0.8vw;
  font-weight: 600;
  text-decoration: none !important;
  cursor: pointer;

  @include phones {
    margin-top: 2vw;
    padding: 2.5vw 5.5vw 2.6vw;
  }
}

.ob__intro {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 3vw;
  line-height: 2.5vw;

  @include phones {
    font-size: 5vw;
    line-height: 7vw;
  }
}

.ob__content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;

  @include phones {
    font-size: 5vw;
    line-height: 7vw;
  }
}

.ob__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 1%;
  text-decoration: none !important;
  transition: all 0.5s;
  border: 1px solid #dae6f0;

  &-1 {
    background: rgb(243, 243, 243);
    border: none;
  }

  &:hover {

    box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.4);

    & .ob__item-title {
      color: #0275d8;
    }



  }

  @include phones {
    margin: 8vw 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 10vw;

  }
}

.ob__item-title {
  font-family: Raleway, Arial, sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: 0.05vw;
  text-align: center;
  min-height: 4vw;
  margin-bottom: 0;

  @include phones {
    font-size: 8vw;
    font-weight: 500;
  }
}

.ob__item-descr {
  margin-bottom: auto;
  font-size: 1.2vw;
  min-height: 4vw;
  text-align: center;
  padding-bottom: 1.1vw;



  & img {
    width: 100%;
    height: auto;
  }

  @include phones {
    margin: 5vw 0;
    font-size: 5vw;
  }

}

.ob__partner {

  & img {
    width: 50%;
    margin: 0 auto;
  }

}

.ob__item-logo {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vw;

  padding: 0 10%;
  & img {
    width: 90%;
    height: auto;
  }

}

.ob__item-price {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  margin-top: 1vw;

  @include phones {
    font-size: 5.5vw;
    margin-top: 5vw;
  }

}

.price__num {
  font-size: 2vw;
  font-weight: 400;

  @include phones {
    font-size: 7vw;
  }

}

.ob__more {
  text-align: center;
  margin-top: 1vw;
  transition: all 0.5s;
  background: rgba(2, 117, 216, 0.1);
  font-size: 1.5vw;
  padding: 1vw 0 1.4vw;
  font-weight: 400;
  color: #0275db;

  @include phones {
    margin-top: 4vw;
    font-size: 6vw;
    padding: 4vw 0 4.4vw;
  }
}

.o__block {
  background: #f5f6f7;
  display: flex;
  flex-direction: row;

}

.o__link {
  flex: 1;
  font-size: 2.4vw;
  text-align: center;
  padding: 3vw 0;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: 100;

  @include phones {
    font-size: 4vw;
  }

  &-buh {
    background: rgba(226, 226, 226, 0.6);;
  }
}

.ob__odds {
  margin-top: 8vw;
}

.odds__item {
  margin: 4vw 0;

  @include phones {
    margin: 15vw 0;
  }
}

.odds__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 40%;
    height: auto;
  }

}

.odds__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

.odds__title {
  font-size: 1.5vw;
  font-weight: 400;

  @include phones {
    font-size: 5vw;
    margin-top: 5vw;
    font-weight: 600;
  }
}

.odds__descr {
  font-size: 1.2vw;

  @include phones {
    font-size: 4vw;
  }
}

//// procom block

.procom__block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 3% 12%;
  font-family: Roboto, Arial, sans-serif;
  position: relative;

  & a {
    text-decoration: none !important;
  }

  @include phones {
    flex-flow: row wrap;
  }
}

.brand__block-procom {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  margin-top: 1vw;

  @include phones {
    flex: 100%;
    flex-direction: row;
  }
}

.brand__logo {

  width: 75%;
  & img {
    width: 100%;
    height: auto;
  }

  @include phones {
    margin-top: 3vw;
    width: 40%;
  }
}

.brand__status {
  text-align: right;
  font-size: 1.5vw;
  text-align: left;
  margin-top: 3vw;

  @include phones {
    font-size: 5vw;
    padding-left: 10vw;
  }
}

.slogan__block-procom {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  padding-top: 2vw;
  text-align: center;

  @include phones {
    margin-top: 1vw;
    flex-flow: row wrap;
    flex: 100%;
  }
}

.slogan__main {
  font-size: 1.5vw;
  margin-bottom: 1vw;
  padding: 0 2vw;
  line-height: 3vw;
  font-weight: 700;

  @include phones {
    width: 55%;
    font-size: 5vw;
    line-height: 7vw;
  }
}

.towns__block {

  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  color: #996914;
  font-weight: 700;

  @include phones {
    width: 40%;
    font-size: 5vw;
    margin-bottom: 2vw;
  }

  & span {
    margin: 0.3vw 0;
    justify-content: center;

    @include phones {
      margin: 1vw 0;
    }
  }
}

.procom__link {
  color: #996914;
  font-size: 1.2vw;
  margin-top: 0.7vw;

  @include phones {
    width: 100%;
    font-size: 5vw;
    margin-top: 6vw;
    margin-bottom: 5vw;
  }
}

.courses__block {
  flex: 3;
  display: flex;
  flex-direction: column;

  @include phones {
    flex: 100%;
  }
}

.links__block {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1vw;
}

.course__link {
  outline: 1px solid #4a39a3;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 11vh;
  width: 50%;
  text-decoration: none;
  font-size: 1.2vw;
  padding: 0.9vw 5%;
  text-align: center;
  background: white;

  @include phones {
    width: 100%;
    font-size: 4vw;
    padding: 4vw 0;
    font-weight: 600;
  }

  &-viol {
    color: white;
    background: #4A39A3;

    &:hover {
      color: white !important;
    }

    @include phones {
      color: #4A39A3;
      background: white;
    }
  }

  &:hover {
    outline-width: 1px !important;
  }

}

.ukraine__block {
  text-align: center;
  font-size: 1.5vw;
  color: #996914;

  margin-top: 2vw;

  @include phones {
    font-size: 5vw;
    margin: 5vw 0;
  }
}

////////// bob

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}

.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Left */
.hvr-bounce-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvr-bounce-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
  color: white;
}

.hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
