//tools
@import "_misc/mixins";
@import "_misc/normalize";
////partials
@import "partials/animations";
@import "partials/sidebar-nav";
@import "partials/footer";

////fonts
@import "../fonts/raleway.css";
/*
	Raleway, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic, 900, 900 italic
*/
@import "../fonts/sourcesanspro.css";
/*
	Source Sans Pro, 200, 200 italic, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 900, 900 italic
*/

* {
  @include box-sizing(border-box);

}

html, body {
  min-height: 100%;
  width: 100%;
  line-height: 1.42;
  font-family: "Source Sans Pro", Arial, sans-serif;
  //font-family: "Raleway", Arial, sans-serif;
  position: relative;
}

.nav__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  transition: .5s ease-in-out;

  & .stickyheader__logo {
    display: none;
  }
}

.nav__fixed {
  width: 100vw;
  position: fixed;
  z-index: 5;
  padding: 0;
  left: 1px;
  height: 90px;
  background: #B6D9F8;
  margin: 0;

  & .nav__main-item a {
    color: white;
  }

  & .stickyheader__logo {
    display: flex;
  }
}

.stickyheader__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  flex: 1 1;

  & img {
    max-width: 100%;
    height: 55px;
  }
}


.nav__main-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;

  & a {
    font-family: "Raleway", Arial, sans-serif;
    text-decoration: none;
    color: #25408f;
    font-weight: 500;
  }

  &-about {
    min-width: 191px;
  }

  &-why {
    min-width: 200px;
  }

  &-partner {
    flex-shrink: 2;
  }

  &-contacts {
    flex-shrink: 2;
  }
}

.header__main {
  position: relative;
  min-height: 40vh;
}

.header__main-sticky {
  margin-bottom: 53px;
}

.parallax-mirror{
  opacity: 0.5;
}

.logo__block-main {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__block-img {

  width: 50%;

  & img {
    max-width: 100%;
    height: auto;
  }
}

.logo__block-slogan {
  margin-top: 7%;
  width: 90%;

  & h2 {
    text-align: center;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: black;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
}

.overlay {
  margin: 0px;
  padding: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 64vh;
  //background-image: url("../img/whiteblue_back.png"); //BCBCF0
  opacity: 0.5;
}

.main__content {
  min-height: 500px;
  padding-left: 0;
  padding-right: 0;


}

.slider-cont{
  height: 350px;
  align-items: center;
}

.slider{
  width: 700px;
  height: 260px;
}


.slide{

  width: 700px;
  height: 260px;
  padding-top: 15px;
  flex-flow: column;



  & h3{
    color: black;
    flex: 1 1 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;
    padding: 0 10px 0 10px;
    font-weight: 300;
    font-family: "Raleway", Arial, sans-serif;

    }

  & p {
    color: #25408f;
    flex: 1 1 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
  }

}

.slide1 {
  background: rgba(242, 224, 214, 0.5);
}

.slide2 {
  background: rgba(143, 189, 129, 0.2);
}

.slide3 {
  background: rgba(188, 188, 240, 0.6);
}

.slide4 {
  background: rgba(242, 210, 129, 0.5);

  & p {
    margin-top: 30px;
  }
}

.slide5 {
  background: rgba(138, 138, 176, 0.2);
}
//////////////////// index main

.main__action {
  padding: 10px;
  background: rgba(252, 219, 219, 0.5);
}

.article__title {
  font-weight: 600;
  text-align: center;
  font-size: 34px;
  letter-spacing: 1px;
  color: rgba(54, 54, 112, 0.9);
  font-family: "Raleway", Arial, sans-serif;
  flex: 1 1 100%;
  margin: 30px 0;
}

.action__item {
  margin-bottom: 25px;
}

.card-img-top {
  height: 150px;
}

.main__action{
  display: flex;
  flex-flow: row wrap;
}


.action__section{
  display: flex;
  flex-flow: row wrap;

  padding: 25px;
  flex: 1 1 48%;
  margin: 5px 1% 5px 1%;
  background: #E1E1FF;
  color: #363670;

  @include desktop{
    flex: 1 1 100%;

  }
}

.action__title{

  flex: 1 1 60%;
  margin-bottom: 30px;
}

.action__logo{
  flex: 1 1 25%;

  & img{
    max-width: 100%;
    height: auto;
  }

}

.main__test {
  background: rgba(242, 210, 129, 0.2);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.test__section {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  background: rgba(143, 189, 129, 0.3);
  margin: 10px 1%;
}

.article__text {
  text-align: center;
  font-size: 18px;
  margin-top: -10px;
}

.test__logo {
  flex: 1 1 40%;
  &img {
    min-width: 100%;
    height: auto;
  }
}

.test__title {
  margin-top: 15px;
  text-align: center;
  flex: 1 1 60%;
}

.test__text {
  padding: 25px 0;
}

.button__up {
  cursor: pointer;
  position: fixed;
  z-index: 6;
  right: 10%;
  bottom: 10%;
  opacity: 1;
}

