.sidebar__index {
  min-height: 500px;
  background: rgb(245, 246, 247);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0 0 12vw;

}

.sidebar__nav-block {
  width: 85%;
  margin-bottom: 1vw;

}

.acc__icon {
  transition: all 0.5s;
}

.transparent {
  opacity: 0;
}

.nav__sidebar-law {
  display: none;
  align-self: flex-start;
  list-style: none;
  padding: 10px 0 0 20%;
  margin: 0;

}

.nav__sidebar-title {
  width: 100%;
  font-family: "Raleway", Arial, sans-serif;
  cursor: pointer;
  padding: .5vw 1.5vw 1vw 0vw;
  color: #002942 !important;
  font-size: 2vw;
  font-weight: 500;
  text-align: right;
  letter-spacing: 1px;
  border-radius: 0 0px 5px 0;

  @include tablets {
    font-size: 20px;
  }

}

.nav__sidebar-link {
  text-decoration: none !important;
  font-size: 1.6vw;
  font-weight: 400;

  color: black;
  margin-bottom: 7px;
  margin-top: 7px;
  padding-bottom: 5px;
}

.sidebar__law-item {
  text-align: right;
  padding-right: 2vw;
  padding-top: 1vw;
}

