.sidebar__index {
  min-height: 500px;
  background: #f1f7f9;
  padding-top: 50px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar__nav-block {
  width: 85%;
  margin-bottom: 30px;

}

.acc__icon {
  transition: all 0.5s;
}

.transparent {
  opacity: 0;
}

.nav__sidebar-law {
  display: none;
  align-self: flex-start;
  list-style: none;
  padding: 10px 0 0 20%;
  margin: 0;

}

.nav__sidebar-title {
  //text-shadow: -1px 1px 5px rgba(0,0,0,0.3);
  font-family: "Raleway", Arial, sans-serif;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 12px;
  color: #63358A !important;
  font-size: 26px;
  font-weight: 400;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);

}

.nav__sidebar-link {
  text-decoration: none !important;
  font-size: 21px;
  font-weight: 400;

  color: black;
  margin-bottom: 7px;
  margin-top: 7px;
}